{% load static %}
<link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'bootstrap/css/AdminStu.css' %}">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<div class="container bootstrap snippets bootdey">
<div class="col-md-10 text-center">
    <div class="jumbotron">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-circle img-thumbnail img-user" alt="">    
        <div class="content">
           
            <h2 class="name">Dashboard</h2>
                
        </div>
    
        <div class="row">
            <a href="{% url 'studentclick' %}" class="btn btn-info btn-lg text-success" >
                <i class="text"></i> View DashBoard
            </a>
          
        </di>
    </div>
</div>
</div>