{% extends './adminbase.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% block content %}

<div class="wrapper">
    <section class="content">
        <div class="container-fluid">
    
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Student Feedback</h3>
                        </div>
                        <!-- /.card-header -->
    
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Student ID</th>
                                    <th>Student Name</th>
                                    <th>Message</th>
                                    <th>Sended On</th>
                                    {% comment %} <th>Reply</th> {% endcomment %}
                                </tr>
                                </thead>
    
                                {% for feedback in feedbacks %}
                                <tbody>
                                <tr>
                                    <td>{{ feedback.id }}</td>
                                    <td>{{ feedback.student_id.id }}</td>
                                    <td>{{ feedback.student_id.user.first_name }} {{ feedback.student_id.user.last_name }}</td> 
                                    <td>{{ feedback.feedback }}</td> 
                                    <td>{{ feedback.created_at }}</td>
                                    {% comment %} <td>
                                        {% if feedback.feedback_reply == "" %}
                                            <button class="btn btn-success reply_open_modal" data-toggle="modal" data-target="#replyModal">Reply</button>
                                        {% else %}
                                            {{ feedback.feedback_reply }}
                                        {% endif %}
                                        
                                    </td> {% endcomment %}
                                </tr>
                                </tbody>
                                {% endfor %}
    
                            </table>
                        </div>
                    
                    </div>
                    <!-- /.card -->
                </div>
            </div>
    
        </div><!-- /.container-fluid -->
      </section>
    
    

     
    
    <script>
    
         
</div>

{% endblock content %}